<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation defaultLanguage="c#" debug="true" />
		<customErrors mode="Off" />
		<!-- <customErrors mode="RemoteOnly"/> -->
		<!-- <authentication mode="Windows" /> -->		
		<authentication mode="Forms">
			<forms loginUrl="login/Login.aspx">
				<credentials passwordFormat="Clear">
					<user name="bag" password="bag" />
			</credentials>
			</forms>
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
	<appSettings>
		<add key="details-connection-string" value="Jet OLEDB:Global Partial Bulk Ops=2;Jet OLEDB:Registry Path=;Jet OLEDB:Database Locking Mode=1;Jet OLEDB:Database Password=;Data Source=&quot;C:\projecten\bag\sdf\viewerdata.mdb&quot;;Password=;Jet OLEDB:Engine Type=5;Jet OLEDB:Global Bulk Transactions=1;Provider=&quot;Microsoft.Jet.OLEDB.4.0&quot;;Jet OLEDB:System database=;Jet OLEDB:SFP=False;Extended Properties=;Mode=Share Deny None;Jet OLEDB:New Database Password=;Jet OLEDB:Create System Database=False;Jet OLEDB:Don't Copy Locale on Compact=False;Jet OLEDB:Compact Without Replica Repair=False;User ID=Admin;Jet OLEDB:Encrypt Database=False" />
		<add key="oledetails-connection-string" value="Jet OLEDB:Global Partial Bulk Ops=2;Jet OLEDB:Registry Path=;Jet OLEDB:Database Locking Mode=1;Jet OLEDB:Database Password=;Data Source=&quot;C:\projecten\bag\sdf\viewerdata.mdb&quot;;Password=;Jet OLEDB:Engine Type=5;Jet OLEDB:Global Bulk Transactions=1;Provider=&quot;Microsoft.Jet.OLEDB.4.0&quot;;Jet OLEDB:System database=;Jet OLEDB:SFP=False;Extended Properties=;Mode=Share Deny None;Jet OLEDB:New Database Password=;Jet OLEDB:Create System Database=False;Jet OLEDB:Don't Copy Locale on Compact=False;Jet OLEDB:Compact Without Replica Repair=False;User ID=Admin;Jet OLEDB:Encrypt Database=False" />
		<add key="connection-string" value="user id=bag;data source=HAWAR;password=bag" />
		<add key="pinpoint-connection-string" value="user id=bag;data source=HAWAR;password=bag" />
		<add key="subpart-connection-string" value="user id=bag;data source=HAWAR;password=bag" />
		<add key="mwx-location" value="data/bag.mwx" />
		<add key="viewer-config" value="data/viewer.xml" />
	</appSettings>
</configuration>
